.btn {
  @include clearfix();
  height: 48px;
  background-color: $ACTION-COLOR;
  @include border-radius(48px);
  margin: 10px 20px;
  border: 0;

  font-family: $BASE-FONT;
  font-size: $H4-SIZE;
  color: $WHITE;
  outline: none;
  cursor: pointer;

  a {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
  }

  .btn__text {
    display: inline-block;
    padding: 0;
    outline: none;
  }

  &--is-disabled {
    opacity: .5;
    cursor: default;
  }

  &--is-white {
    background-color: $WHITE;
    color: map-get($BLACK-LIST, black1);
    border: 1px solid map-get($BLACK-LIST, black3);

    &:hover {
      background-color: map-get($BLACK-LIST, black1);
      color: $WHITE;
      border-color: map-get($BLACK-LIST, black1);
    }
    &:active {
      color: map-get($BLACK-LIST, black1);
      background-color: map-get($BLACK-LIST, black4);
    }
  }

  &--is-primary {
    background-color: $PRIMARY-COLOR;

    &:hover {
      background-color: $PRIMARY-COLOR-HOVER;
    }
    &:active {
      background-color: $PRIMARY-COLOR-CLICK;
    }
  }

  &--is-danger {
    background-color: $CANCEL-COLOR;

    &:hover {
      background-color: $CANCEL-COLOR-HOVER;
    }
    &:active {
      background-color: $CANCEL-COLOR-CLICK;
    }
  }

  &--is-default {
    background-color: $ACTION-COLOR;

    &:hover {
      background-color: $ACTION-COLOR-HOVER;
    }
    &:active {
      background-color: $ACTION-COLOR-CLICK;
    }
  }

  &--is-positive {
    background-color: $POSITIVE-COLOR;

    &:hover {
      background-color: $POSITIVE-COLOR-HOVER;
      color: #55871E;
    }
    &:active {
      background-color: $POSITIVE-COLOR-CLICK;
      color: $WHITE;
    }
  }

  &--is-negative {
    background-color: $NEGATIVE-COLOR;

    &:hover {
      background-color: $NEGATIVE-COLOR-HOVER;
    }
    &:active {
      background-color: $NEGATIVE-COLOR-CLICK;
    }
  }

  &--is-undo {
    background-color: $UNDO-COLOR;
    color: map-get($BLACK-LIST, black1);

    &:hover {
      background-color: $UNDO-COLOR-HOVER;
      color: #55871E;
    }
    &:active {
      background-color: $UNDO-COLOR-CLICK;
      color: $WHITE;
    }
  }

  &--is-loading {
    .icon {
      -webkit-animation: spin 1s cubic-bezier(0.3, 0.1, 0.3, 0.85) infinite;
      animation: spin 1s cubic-bezier(0.3, 0.1, 0.3, 0.85) infinite;
    }
  }
  &--has-error {}

}

.btn--icon,
.btn--icon-right,
.btn--icon-left {

  .icon {
    display: inline-block;
    width: auto;
    height: $ICON-SIZE;
    margin: 0 20px;
    font-size: $ICON-SIZE;
    line-height: $ICON-SIZE;
    color: currentColor;

    svg {
      fill: currentColor;
    }
  }
  .btn__text {
    padding-top: 3px;
  }
}

.btn--upload {
  border: 1px solid map-get($BLACK-LIST, black3);
  background-color: map-get($BLACK-LIST, black5);
  text-align: center;
  color: map-get($BLACK-LIST, black1);
  height: auto;
  width: auto;
  padding: .35em .75em;
  font-size: .8em;
}

.btn--green{
  background-color: map-get($GREEN-LIST, green2);
}

.btn--icon,
.btn--icon-right {
  padding: 12px 0 12px 20px;

  .icon {
    float: right;
    margin: 0 20px 0 10px;
  }
  .btn__text {
    // margin-left: 10px;
  }
}
.btn--icon-left {
  padding: 12px 20px 12px 0;

  .icon {
    float: left;
    margin: 0 10px 0 20px;
  }
  .btn__text {
    // margin-right: 10px;
  }
}
