.close {
  @include border-radius(5px);
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  outline: none;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: rgba(map-get($BLACK-LIST, black1), .2);
  border: none;
  cursor: pointer;
  
  &::before,
  &::after {
      background-color: $WHITE;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -25%;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 50%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::hover {
    background: rgba(map-get($BLACK-LIST, black1), .5);
  }

  // Sizes
  &.is-small {
    height: 16px;
    width: 16px;
  }
  &.is-medium {
    height: 32px;
    width: 32px;
  }
  &.is-large {
    height: 40px;
    width: 40px;
  }
}
