input,
select,
textarea {
  height: 40px;
  margin: 10px 20px;
  font-size: $H4-SIZE;
  background-color: $WHITE;
  border: 1px solid map-get($BLACK-LIST, black3);
  color: $PRIMARY-TEXT-COLOR;
  vertical-align:top;
  outline: none;
}

input {

  &[type=text],
  &[type=password] {
    @include border-radius(4px);
    min-width: 250px;
    padding: 12px 20px;

    &.is-valid {
      border: 1px solid map-get($GREEN-LIST, green1);
    }
    &.is-danger {
      border: 1px solid $CANCEL-COLOR;
    }
    &.is-disabled {
      background-color: map-get($BLACK-LIST, black2);
    }
  }

  &[type=radio],
  &[type=checkbox] {
    height: 25px;
    width: 25px;
    margin: 10px;
    padding: 0;
  }
}

select,
textarea {
  @include border-radius(4px);
  padding: 12px 20px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: map-get($BLACK-LIST, black2);
}
