.legend-container__horizontal {
  display: flex;

  .legend {
    display: flex;

    &:not(:first-child){
      margin-left: 15px;
    }

    .legend-ref {
      height: 15px;
      width: 15px;
      border-radius: 2px;
    }

    .legend-text {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
