@include keyframes(spin) {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.loading {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid #ddd;
    border-top-color: #333;
    display: inline-block;
    margin: 0 8px;

    &.perpetuum-mobile {
      -webkit-animation: spin 1s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
      animation: spin 1s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
    }

    &.impetus {
      -webkit-animation: spin 1s cubic-bezier(0.5, -0.35, 0.5, 1.35) infinite;
      animation: spin 1s cubic-bezier(0.5, -0.35, 0.5, 1.35) infinite;
    }

    &.full-circle {
      -webkit-animation: spin 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
      animation: spin 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    }

    &.gravity {
      -webkit-animation: spin 1s cubic-bezier(0.5, 0.8, 0.5, 0.2) infinite;
      animation: spin 1s cubic-bezier(0.5, 0.8, 0.5, 0.2) infinite;
    }

    &.overshot {
      -webkit-animation: spin 1s cubic-bezier(0.65, 1.5, 0.6, 0.95) infinite;
      animation: spin 1s cubic-bezier(0.65, 1.5, 0.6, 0.95) infinite;
    }

    &.downhill {
      -webkit-animation: spin 1s cubic-bezier(0.3, 0.1, 0.3, 0.85) infinite;
      animation: spin 1s cubic-bezier(0.3, 0.1, 0.3, 0.85) infinite;
    }

    &.pendulum {
      -webkit-animation: spin 1s cubic-bezier(0.3, 1.65, 0.7, -0.65) infinite;
      animation: spin 1s cubic-bezier(0.3, 1.65, 0.7, -0.65) infinite;
    }

    &.wtf {
      -webkit-animation: spin 1s cubic-bezier(1, -2.3, 1, 2.5) infinite;
      animation: spin 1s cubic-bezier(1, -2.3, 1, 2.5) infinite;
    }
}