html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $BASE-FONT;
  font-size: $BASE-FONT-SIZE;
  line-height: $BASE-LINE-HEIGHT;
  color: $PRIMARY-TEXT-COLOR;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $BASE-FONT;
  margin: 1rem 0;
}

h1 {
  font-size: $H1-SIZE;
  color: $PRIMARY-TEXT-COLOR;
}
h2 {
  font-size: $H2-SIZE;
  color: $PRIMARY-TEXT-COLOR;
}
h3 {
  font-size: $H3-SIZE;
  color: $PRIMARY-TEXT-COLOR;
}
h4 {
  font-size: $H4-SIZE;
  color: $PRIMARY-TEXT-COLOR;
}
h5 {
  font-size: $H5-SIZE;
  color: map-get($BLACK-LIST, black2);
}