/**
 * Exported from https://icomoon.io/app/
 */

// ICONS

$ICON-SIZE: 24px !default;
$FONT-PATH: "fonts/" !default;
$fa-font-path: "fonts" !default;

$i-adress: "\e900";
$i-arrow: "\e901";
$i-calendar: "\e902";
$i-check: "\e903";
$i-mail: "\e904";
$i-mobile: "\e905";
$i-notifications: "\e906";
$i-printer: "\e907";
$i-send: "\e908";
$i-standby: "\e909";
$i-time: "\e90a";
$i-waiting_response: "\e90b";
$i-delete_doc: "\e90c";
$i-doc_add: "\e90d";
$i-doc_remove: "\e90e";
$i-dollar_bill: "\e90f";
$i-euro_bill: "\e910";
$i-ideas: "\e911";
$i-magnifier: "\e912";
$i-moderate: "\e913";
$i-ok_doc: "\e914";
$i-petitions: "\e915";
$i-pounds_bill: "\e916";
$i-stats: "\e917";
$i-user_block: "\e918";
$i-user_directory: "\e919";
$i-user_gotoprofile: "\e91a";
$i-user_ok: "\e91b";
$i-vote: "\e91c";
