/**
 * Overwrite _variables.scss with your own values.
 * All settings are marked as !default, which only sets the value if it's not already
 */

// scss-lint:disable NameFormat

// LAYOUT

$BASE-COLUMNS: 12 !default;
$BASE-GUTTER: 20px !default;

// COLOR

$AZUL-LIST: (
  azul1: #5382ad,
  azul2: #71b2ed,
  azul3: #7ac0ff,
  azul4: #92c9f9,
  azul5: #c4e3ff
) !default;

$BLACK-LIST: (
  black1: #4a4a4a,
  black2: #9b9b9b,
  black3: #ccc,
  black4: #f3f3f3,
  black5: #f7f7f7
) !default;

$GREEN-LIST: (
  green1: #6ab01d,
  green2: #7ac229,
  green3: #9bd757,
  green4: #b1e67c
) !default;

$ORANGE-LIST: (
  orange1: #e55600,
  orange2: #f57223,
  orange3: #f68d4d,
  orange4: #f5a97b
) !default;

$PURPLE-LIST: (
  purple1: #970db4,
  purple2: #bd10e0,
  purple3: #d970ef,
  purple4: #e4b1f0
) !default;

$WHITE: #fff !default;
$BLACK: #000 !default;

$PRIMARY-COLOR: map-get($AZUL-LIST, azul3) !default;
$PRIMARY-COLOR-HOVER: map-get($AZUL-LIST, azul5) !default;
$PRIMARY-COLOR-CLICK: map-get($AZUL-LIST, azul2) !default;

$PRIMARY-TEXT-COLOR: map-get($BLACK-LIST, black1) !default;
$MAIN-MENU-BACKGROUND-COLOR: map-get($BLACK-LIST, black1) !default;
$BACKGROUND-COLOR: map-get($BLACK-LIST, black5) !default;

$ACTION-COLOR: map-get($BLACK-LIST, black3) !default;
$ACTION-COLOR-HOVER: map-get($GREEN-LIST, green3) !default;
$ACTION-COLOR-CLICK: map-get($GREEN-LIST, green1) !default;

$POSITIVE-COLOR: map-get($GREEN-LIST, green2) !default;
$POSITIVE-COLOR-HOVER: map-get($GREEN-LIST, green3) !default;
$POSITIVE-COLOR-CLICK: map-get($GREEN-LIST, green1) !default;

$NEGATIVE-COLOR: #d0021b !default;
$NEGATIVE-COLOR-HOVER: #ff3a52 !default;
$NEGATIVE-COLOR-CLICK: map-get($BLACK-LIST, black1) !default;

$UNDO-COLOR: map-get($BLACK-LIST, black3) !default;
$UNDO-COLOR-HOVER: map-get($GREEN-LIST, green4) !default;
$UNDO-COLOR-CLICK: map-get($GREEN-LIST, green1) !default;

$CANCEL-COLOR: $NEGATIVE-COLOR !default;
$CANCEL-COLOR-HOVER: $NEGATIVE-COLOR-HOVER !default;
$CANCEL-COLOR-CLICK: $NEGATIVE-COLOR-CLICK !default;


// TYPOGRAPHY

$BASE-FONT: 'Open Sans', Helvetica, sans-serif !default;
$BASE-FONT-SIZE: 16px !default;
$BASE-LINE-HEIGHT: .85rem !default;

$H1-SIZE: 24px !default;
$H2-SIZE: 18px !default;
$H3-SIZE: 16px !default;
$H4-SIZE: 14px !default;
$H5-SIZE: 14px !default;

// FLEXBOX
$set-rtl: false;

// BREAKPOINTS
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
) !default;

// Z-INDEX
$Z-LAYERS: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
) !default;
