.accordion-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $WHITE;

  li {
    position: relative;
    height: 48px;
    padding: 0;
    background-color: map-get($BLACK-LIST, black1);

    .icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      text-align: right;

      @include mq($from: desktop) {
        top: 50%;
        left: 55px;
        transform: translate(-50%, -50%);
        padding-right: 10px;
      }
    }

    &.active,
    &:not(.disabled):hover {
      background-color: $BLACK;
    }

    &.has-children::after {
      @include triangle(8px, $WHITE, 'right');
      position: absolute;
      top: 24px;
      right: 20px;
      content: '';
    }

    &.active.has-children::after {
      @include triangle(8px, $WHITE, 'down');
    }

    &.disabled {
      color: map-get($BLACK-LIST, black2);

      a {
        cursor: default;
      }
    }
  }

  label, 
  a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px;
    color: currentColor;
    cursor: pointer;

    @include mq($from: desktop) {
      padding: 18px 18px 18px 70px;
    }

    span:not(.icon) {
      display: none;

      @include mq($from: desktop) {
        display: block;
      }
    }

  }
}
