.button-group {

  .group-btn {
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 5px;
    @include border-radius(0);
    background-color: $WHITE;
    border: 1px solid map-get($BLACK-LIST, black3);
    border-right: none;
    outline: none;
    cursor: pointer;

    &.is-selected,
    &:hover {
      background-color: map-get($BLACK-LIST, black4);
    }

    &:first-child {
      margin-left: 5px;
      @include border-radius(5px 0 0 5px);
    }
    &:last-child {
      margin-right: 5px;
      @include border-radius(0 5px 5px 0);
      border-right: 1px solid map-get($BLACK-LIST, black3);
    }
  }
}