.card {
  @include display_flex;
  @include flex_align-items(flex-start);
  margin: 25px 0 25px 0;
  background-color: #FFF;
  min-height: 80px;

  .card-figure {
    @include display_flex;
    @include flex_align-self(stretch);
    @include flex_justify-content(center);
    @include flex_align-items(center);
    margin-right: 1em;
    min-width: 80px;
  }

  .card-inner {
    padding: .8rem;
  }

  .card-body {
    flex: 1;

    .card-text__container {
      width: 80%;
    }
  }

}
