$imageUploaderSpacing: 150px !default; 

.image-container{
	display: flex;
	justify-content: space-around;
}

.image-uploader {
	border: dashed map-get($BLACK-LIST, black3) 1px;
	background: url("http://placekitten.com/50/50") center 40% no-repeat map-get($BLACK-LIST, black4);
	border-radius: 5px;
	text-align: center;
}

	.image-uploader__file-input {
		display: none;
	}

	.image-uploader__submit {
		font-size: .7em;
		font-weight: bold;
		margin-top: $imageUploaderSpacing;
	}


.color-selector{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row wrap;
  -webkit-flex-flow: row wrap;
  margin: 25px 0 25px 0;
}
.color-selector .color-selector-inner {
  margin: 0px 5px 0px 0px;
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  display: -webkit-flex;
}
.color-selector > .color-selector-inner > button{
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.color-selector .color-selector-inner.pressed {
  border: 1px solid #a0a0a0;
  border-radius: 10px;
}