.notification {
  @include clearfix();
  @include border-radius(5px);
  max-width: 430px;
  margin: 10px;
  padding: 16px 20px;
  background-color: $ACTION-COLOR;
  color: $WHITE;

  .close {
    @include border-radius(5px);
    float: right;
    border: 0;
    margin: -16px -20px 0 20px;
  }

  &--is-success {
    background-color: tint(map-get($GREEN-LIST, green1), 70);
  }
  &--is-warning {
    background-color: tint(map-get($ORANGE-LIST, orange1), 70);
  }
  &--is-danger {
    background-color: tint($CANCEL-COLOR, 70);
  }

}