/**** RECHARTS LEGEND ****/
.recharts-legend-wrapper {
  width: 100%!important;
  left: 0px!important;
}
/***** RECHARTS TOOLTIP *****/
.custom-tooltip{
  padding: 10px 10px;
  background: white;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
.custom-tooltip > p{
  color:#000;
  font-weight: 900;
}
.custom-tooltip > p > span{
  font-weight: normal;
  line-height: 25px;
}
/***** RECHARTS TOOLTIP *****/

.card-charts {
  @include display_flex;
  @include flex_align-items(flex-start);
  margin: 25px 0 25px 0;
  background-color: #FFF;
  min-height: 80px;
  height: 500px;
  width: 100%;

  .card-inner {
    display: block;
    width: 100%;
    height: 400px;
    padding: 0.8rem;
  }

  .card-content {
    width: 100%;
    height: 100%;
  }
}

.customized-y-axis-label,
.customized-x-axis-label {
  fill: #4a4a4a;
}