.search-field {
  position: relative;
  @include display_flex;
  @include display_inline-flex;
  @include flex_flex-direction(row);
  @include flex_align-items(center);
  // display: inline-flex;
  // flex-direction: row;
  // align-items: center;
  margin-bottom: .5rem;

  &__label {
    // flex: 0 0 100px;
    @include flex_flex(0 0 100px);
  }

  input[type=text].search-field__input {
    @include flex_flex(1 1 20rem);
    width: 20rem;
    max-width: 25rem;
    padding: 12px 35px 12px 20px;
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}