/**** TOOLTIP ****/
.tooltip {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid white;
}
.tooltip > .tooltipIcon {
  text-align: center;
  width: 100%;
}
.tooltip .tooltiptext {
  visibility: hidden;
  border-radius: 4px;
  line-height: 1.5em;
  padding: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  &.right {
    top: -5px;
    left: 140%;
    & .arrow {
      top: 10%;
      right: 100%;
      margin-left: -5px;
    }
  }
  &.left {
    top: -5px;
    right: 140%;
    & .arrow {
      top: 10%;
      left: 100%;
      margin-right: -5px;
    }
  }
  &.top {
    bottom: 140%;
    left: 50%; 
    margin-left: -60px;
    & .arrow {
      top: 100%;
      left: 50%;
      margin-left: -5px;
    }
  }
  &.bottom {
    top: 140%;
    left: 50%; 
    margin-left: -60px;
    & .arrow {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
  }
}
.tooltip .arrow{
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}