.skylight-dialog {
  h2 {
    margin-left: 30px;
  }
}

.suspend-modal {
  @include display-flex;
  @include flex_flex-direction(colunm);
  @include flex_flex(0 1 auto);
  @include flex_flex-wrap(wrap);
  // display: flex;
  // flex-direction: column;
  // flex: 0 1 auto;
  // flex-wrap: wrap;

  &__choices {
    @include display-flex;
    @include flex_flex-direction(row);
    @include flex_flex(0 999 auto);
    @include flex_align-items(flex-start);
    @include flex_justify-content(flex-start);
    // display: flex;
    // flex-direction: row;
    // flex:0 999 auto;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin-top: 1rem;
  }

  &__actions {
    @include display-flex;
    @include flex_flex-direction(column);
    @include flex_flex(1 0 auto);
    @include flex_align-items(flex-start);
    @include flex_justify-content(flex-start);
    // display: flex;
    // flex-direction: column;
    // flex:1 0 auto;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin-top: 3rem;

    .disclaimer {
      @include flex_align-self(flex-end);
      // align-self: flex-end;
      font-size: $H5-SIZE - 2;

      > * {
        margin-bottom: 1rem;
      }
    }

    button {
      @include flex_align-self(flex-end);
      // align-self: flex-end;
    }
  }

  &__content {
    @include display-flex;
    @include flex_flex-direction(column);
    // flex-direction: column;
    padding: .5rem 2rem;

    &:not(:first-child) {
      border-left: 1px solid map-get($BLACK-LIST, black3);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include display-flex;
      @include flex_flex-direction(row);
      @include flex_align-items(center);
      @include flex_justify-content(flex-start);
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: flex-start;
      padding: .3rem;
      border-bottom: 1px solid map-get($BLACK-LIST, black5);
    }
  }
}

.block-modal {
  @include display-flex;
  @include flex_flex-direction(colunm);
  @include flex_flex(0 1 auto);
  @include flex_flex-wrap(wrap);
  // display: flex;
  // flex-direction: column;
  // flex: 0 1 auto;
  // flex-wrap: wrap;

  &__choices {
    @include display-flex;
    @include flex_flex-direction(column);
    @include flex_flex(0 999 auto);
    @include flex_align-items(flex-start);
    @include flex_justify-content(flex-start);
    // display: flex;
    // flex-direction: column;
    // flex:0 999 auto;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin-top: .5rem;
  }

  &__actions {
    @include display-flex;
    @include flex_flex-direction(column);
    @include flex_flex(1 0 auto);
    @include flex_align-items(flex-start);
    @include flex_justify-content(flex-start);
    // display: flex;
    // flex-direction: column;
    // flex:1 0 auto;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin-top: .5rem;

    .disclaimer {
      @include flex_align-self(flex-end);
      // align-self: flex-end;
      font-size: $H5-SIZE - 2;

      > * {
        margin-bottom: 1rem;
      }
    }

    button {
      @include flex_align-self(flex-end);
      // align-self: flex-end;
    }
  }

  &__content {
    @include display-flex;
    @include flex_flex-direction(column);
    // flex-direction: column;
    padding: .5rem 2rem;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      @include display-flex;
      @include flex_flex-direction(row);
      @include flex_align-items(center);
      @include flex_justify-content(flex-start);
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: flex-start;
      padding: 0;
      border-bottom: 1px solid map-get($BLACK-LIST, black5);
    }
  }
}
