.user-card {
  @include clearfix();
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: $WHITE;
  border: 2px dotted map-get($BLACK-LIST, black3);
  @include border-radius(3px);

  &:hover {
    background-color: tint(map-get($BLACK-LIST, black3), 15);
  }

  .toggle-open {
    flex-basis: auto;
    cursor: pointer;
  }

  .flex-row {
    @include display-flex;
    @include flex_flex-direction(row);
    @include flex_flex(0 0 100%);
    @include flex_align-items(center);
    // display: flex;
    // flex-direction: row;
    // flex: 0 0 100%;
    // align-items: center;

    > * {
      margin-right: 1rem;
    }
  }

  .avatar {
    @include flex_flex(none);
    @include flex_align-self(center);
    // flex: none;
    // align-self: center;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    @include border-radius(50%);
  }

  &__data {
    @include display-flex;
    @include flex_flex-direction(column);
    @include flex_flex(1 1 auto);
    @include flex_align-items(flex-start);
    @include  flex_align-self(center);
    // display: flex;
    // flex-direction: column;
    // flex: 1 1 auto;
    // align-items: flex-start;
    // align-self: center;

    > * {
      margin-bottom: .5rem;
    }

    .label {
      margin-left: .5rem;
    }

    .languages {
      margin-left: .3rem;
      padding-left: .5rem;
      border-left: 1px solid map-get($BLACK-LIST, black3);
      font-size: $H5-SIZE;
      font-weight: normal;
      color: map-get($BLACK-LIST, black3);
    }
  }

  &__other {
    @include display-flex;
    @include flex_flex(0 0 20%);
    // display: flex;
    // flex: 0 0 20%;
    font-size: $H5-SIZE;
    padding-left: 2rem;
    border-left: 1px solid map-get($BLACK-LIST, black3);

    ul {
      @include display-flex;
      @include flex_flex-direction(column);
      @include flex_justify-content(center);
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        @include display-flex;
        @include flex_flex-direction(row);
        @include flex_align-items(center);
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        margin: .3rem;

        .icon {
          margin: 0 .5rem;
        }
      }
    }
  }

  &__detail {
    @include flex_flex-wrap(wrap);
    // flex-wrap: wrap;
    font-size: $H5-SIZE;
    margin: .2rem 1.5rem .2rem 0;
    text-align: left;

    strong {
      display: inline;
      margin-right: .3rem;
    }

    .icon {
      margin: 0 .5rem;
    }
  }

  // USER CARD DETAILED
  &__detailed {
    display: block;
    padding: 1rem;
    height: auto;
    border: 2px solid map-get($BLACK-LIST, black3);

    .avatar {
      @include flex_flex(none);
      // flex: none;
      width: 120px;
      height: 120px;
      margin-right: 2rem;
    }

    .flex-row {
      @include flex_flex(0 0 100%);
      // flex: 0 0 100%;
      justify-content: space-between;
    }
  }
  &__detail {
    @include display_inline-flex;
    // display: inline-flex;
  }
  &__topics {
    @include display-flex;
    @include flex_flex-direction(column);
    @include flex_flex(1 0 100%);
    @include flex_align-self(flex-start);
    // display: flex;
    // flex-direction: column;
    // flex: 1 0 100%;
    // align-self: flex-start;
    margin-top: 1rem;
    font-size: $H5-SIZE;

    > * {
      margin-bottom: 1rem;
    }

    .activity-list {
      @include display-flex;
      @include flex_flex-direction(row);
      @include flex_flex(0 0 100%);
      // display: flex;
      // flex-direction: row;
      // flex: 0 1 100%;
      list-style: none;

      li:not(:last-child) {
        margin-right: .5rem;
        padding-right: .5rem;
        border-right: 1px solid  map-get($BLACK-LIST, black3);
      }
    }
  }
  &__actions {
    @include display-flex;
    @include flex_flex-direction(row);
    @include flex_align-items(center);
    @include flex_justify-content(space-between);
    @include flex_flex(1 0 100%);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // flex: 1 1 100%;
    // justify-content: space-between;
    padding: 1rem 0 0;
    border-top: 1px solid  map-get($BLACK-LIST, black3);

    .actions-labels {
      display: flex;
      flex-direction: row;
      flex-basis: 1 0;
      align-items: center;
    }
    .actions-buttons {
      margin-left: auto;

      .btn {
        margin: 0 5px;
      }
    }
  }
}
