/**
 * For a better structure, create a page per different section
 */

@import "welcome-page";
@import "user-directory";
@import "adv-polls";
// @import "user-detail";

body {
  margin:0;
  padding:0;
  border:none;
}

.app-wrapper {
  width: 100vw;

  .wrapper {
    @include display_flex;
    @include flex_flex-direction(row);
    @include flex_align-items(stretch);
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    // display: flex;
    // flex-direction: row;
    // align-items: stretch;
    padding-left: 60px;
    background-color: $BACKGROUND-COLOR;

    @include mq($from: desktop) {
      padding-left: 250px;
    }

    &.is-dark {
      @include display_flex;
      @include flex_flex-direction(column);
      @include flex_align-items(center);
      @include flex_justify-content(center);
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding-left: 0;
      background-color: map-get($BLACK-LIST, black1);

      @include mq($from: desktop) {
        padding-left: 0;
      }
    }
  }

  .wrapper-center {
    @include display_flex;
    @include flex_flex-direction(column);
    @include flex_align-items(center);
    @include flex_justify-content(center);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;

    &.is-login {
      width: 310px;
      height: 310px;
      @include flex_align-self(center);
      // align-self: center;
      margin: 1rem;
      background-color: $BACKGROUND-COLOR;
      @include border-radius(5px);
    }
  }

}

.content-wrapper {
  display: block;
    width: 100%;

  // Content Area
  .content {
    display: block;
    width: 100%;
    padding: 2rem;
  }
}

