// User Directory Page
.tmpl-userdirectory {
  .paginate--container {
    list-style: none;

    li {
      display: inline-block;
    }

    .paginate--pg-active {
      margin-right: 5px;
      margin-left: 10px;
      font-weight: bold;
    }
    .break {
      margin-right: 10px;
    }

    .paginate--link-prev {
      transform: rotate(180deg);
    }

    .paginate--link-prev,
    .paginate--link-next {
      background-color: map-get($BLACK-LIST, black1);
      min-width: 32px;
      height: 24px;
      padding: 6px 10px;
      cursor: pointer;
    }
  }
}
