// MainMenu Component

.main-menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60px;
  max-width: 60px;
  height: 100%;
  padding: 0;
  background-color: $MAIN-MENU-BACKGROUND-COLOR;
  color: $WHITE;

  @include mq($from: desktop) {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
  }

  .main-menu__item {
    font-size: $H5-SIZE;
  }

  &__logo {
    position:relative;
    text-align: center;
    margin: 0 auto;
    padding: .5rem;
    height: 60px;

    @include mq($until: desktop) {
      visibility: hidden;
    }

    img {
      height: 45px;
    }

    .logo-label {
      position: absolute;
      bottom:0;
      right: 25px;
      height: 20px;
    }
  }
}