// UserArea Component

.user-area {
  @include display-flex;
  @include flex_flex-direction(row);
  @include flex_align-items(center);
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  height: 60px;
  padding: 0 2rem;
  background-color: $WHITE;
  border-bottom: 2px solid  map-get($BLACK-LIST, black4);

  > * {
    margin-right: 1rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .user-area__name {
    position: relative;
    padding-right: .8rem;

    &::after {
      content: '';
      @include triangle(8px, $BLACK, 'down');
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  .user-area__messages,
  .user-area__alerts {
    display: inline-block;
    position: relative;

    &.missing::after {
      content: '';
      position: absolute;
      bottom: -4px;
      right: -2px; 
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: $CANCEL-COLOR;
      color: currentColor;
    }
  }
}
